<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redefine.commonui" >

    <application>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_facebook_id" />
        <activity
            android:name="com.redefine.commonui.h5.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".share.activity.ShareActivity"
            android:theme="@style/MyTranslucent"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider157518221604591"
            android:exported="true" />
    </application>

</manifest>
