<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redefine.im" >

    <application>
        <!--<service android:name=".service.IMService"/>-->
        <service android:name=".service.IMService"/>
    </application>

</manifest>
