<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redefine.multimedia">

    <application>

        <provider
            android:name="com.redefine.multimedia.photoselector.provider.PictureFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".photoselector.activity.PhotoSelectorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".photoselector.activity.PhotoPreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".snapshot.PhotoSnapShotActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".recorder.activity.VideoRecorderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".player.youtube.YoutubePlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".photoselector.activity.PhotoSelectorPreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".player.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>
</manifest>
